## 제어문& 반복문

In [6]:
x = int(input("숫자를 입력하세요.."))
if x >= 90:
    print("Pass")

숫자를 입력하세요.. 95

Pass

## 단일 조건 및 그 외 조건에 따른 분기

In [7]:
x = int(input("숫자를 입력하세요.."))
if x >= 90:
    print("Pass")
else:
    print("Fail")

숫자를 입력하세요.. 80

Fail

## 여러 조건에 따른 분기

In [ ]:
x = int(input("숫자를 입력하세요.."))
if x >= 90:
    print("Pass")
elif (x >= 80) and (x<90):
    print("조건부 합격")
else:
    print("Fail")

## 중첩 조건에 따른 분기
-시나리오
    90 이상 합격, 100점은 장학금
    80점 이상은 조건부 합격
    그외는 탈락

In [13]:
x = int(input("숫자를 입력하세요.."))
if x >= 90:
    if x == 100:
        print("장학금 지급")
    else:
        print("Pass")
elif (x >= 80) and (x<90):
    print("조건부 합격")
else:
    print("Fail")

숫자를 입력하세요.. 100

장학금 지급

## 반복문

In [16]:
for i in range(7):
    print("안녕하세요")

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

- 시퀀스 자료형이 range 대신 들어감

In [17]:
from collections.abc import Sequence

my_num = 100
my_list = [1, 2, 3]
my_string = "hello"

is_num = isinstance(my_num, Sequence)
is_list = isinstance(my_list, Sequence)
is_string = isinstance(my_string, Sequence)

print(is_num)
print(is_list)
print(is_string)

False
True
True

In [20]:
for i in my_list:
    print(i)

1
2
3

In [23]:
for i in my_string:
    print(i)

h
e
l
l
o

In [24]:
list(range(3))

[0, 1, 2]

## 중첩 for문
- 구구단 중첩 for문 만들어주세요 ->ChatGPT

In [26]:
x_list = ["x1", "x2"]
y_list = ["y1", "y2"]

print("x y")
for x in x_list:
    print(x)
    for y in y_list:
        print(x, y)

x y
x1
x1 y1
x1 y2
x2
x2 y1
x2 y2

## 여러 개의 리스트 다루기

In [30]:
names = ['James', 'Robert', 'Lisa', 'Mary']
scores = [95, 96, 97, 94]

# idx : index 번호
for idx in range(len(names)):
    #print(idx)
    print(names[idx], scores[idx])

James 95
Robert 96
Lisa 97
Mary 94

In [31]:
for name, score in zip(names, scores):
    print(name, score)

James 95
Robert 96
Lisa 97
Mary 94

In [32]:
for idx, name in enumerate(names):
    print(name, scores[idx])

James 95
Robert 96
Lisa 97
Mary 94

In [33]:
for name, score in map(lambda x, y: (x, y), names, scores):
    print(name, score)

James 95
Robert 96
Lisa 97
Mary 94

## 리스트 컴프리헨션

In [35]:
numbers = [1, 2, 3, 4, 5]
result = []
for x in numbers:
    # 각 요소마다 곱하기 2
    # print(x * 2)
    result.append(x *2)

print(result)

[2, 4, 6, 8, 10]

In [36]:
numbers = [1, 2, 3, 4, 5]
result2 = [x * 2 for x in numbers]
print(result2)

[2, 4, 6, 8, 10]

In [45]:
numbers = [1, 2, 3, 4, 5, 6]
result = []
for x in numbers:
    if x % 2 == 0:
        result.append(x)
result

[2, 4, 6]

In [48]:
numbers = [1, 2, 3, 4, 5, 6]
result2 = [x for x in numbers if x % 2==0]
print(result2)

[2, 4, 6]

## while 반복문
- 조건문이 참일 때만 반복해서 실행
- 데이터 분석 : 데이터 셋이 정해져있음
  + 행과 열이 고정되어 있음
  + 범위가 주어진 상태
-> 조건문이 false가 되면 자동 종료함

In [50]:
i = 0
total = 0

while (total < 20):
    i = i + 1
    total = total + i
    print(i, total)

1 1
2 3
3 6
4 10
5 15
6 21

In [51]:
k = 0
while True:
    k = k + 1 # K는 1씩 증가
    print("안녕하세요")
    if(k>3):
        print(k)
        break # while / for-Loop 문에서 강제적으로 종료시킬 때

안녕하세요
안녕하세요
안녕하세요
안녕하세요
4

## 사용자 정의 함수
- 반복작업 방지를 위함

In [52]:
def my_1st_func():
    print("안녕하세요")
    print("반갑습니다")

In [53]:
my_1st_func()

안녕하세요
반갑습니다

In [54]:
numbers = [1, 2, 3, 4, 5, 6]
result = []
for x in numbers:
    my_1st_func()
    if x % 2 == 0:
        result.append(x)
result

안녕하세요
반갑습니다
안녕하세요
반갑습니다
안녕하세요
반갑습니다
안녕하세요
반갑습니다
안녕하세요
반갑습니다
안녕하세요
반갑습니다

[2, 4, 6]

## 인자(인수)는 있으나 변환 값이 없는 함수

In [56]:
def my_friend(name):
    print(f"{name}는 나의 친구입니다")
    print("{}는 나의 친구입니다".format(name))

my_friend("철수")
my_friend("길동")

철수는 나의 친구입니다
철수는 나의 친구입니다
길동는 나의 친구입니다
길동는 나의 친구입니다

In [58]:
my_friend("길동")

길동는 나의 친구입니다
길동는 나의 친구입니다

## 인자(인수)는 있고 변환 값이 있는 함수

In [59]:
def my_calc(x, y):
    z = x * y
    return z

In [60]:
my_calc(3, 4)

12

## 변수의 유효 범위
- 키워드 : 전역 변수, 지역 변수

In [11]:
a = 5               # 전역 변수

def func1():
    a = 1           # 지역 변수 -> 해당 구문에만 해당됨
    print("[func1] 지역 변수 a =", a)

def func2():
    a = 2          
    print("[func1] 지역 변수 a =", a)

def func3():       
    print("[func1] 지역 변수 a =", a)

def func4():
    global a # 함수 내에서 전역 변수 변경 위해 선언
    a = 4
    print("[func4] 전역 변수 a =", a)

In [6]:
func1()
func2()
func3()

[func1] 지역 변수 a = 1
[func1] 지역 변수 a = 2
[func1] 지역 변수 a = 5

In [7]:
func1()
func2()
print("전역 변수 a=", a)

[func1] 지역 변수 a = 1
[func1] 지역 변수 a = 2
전역 변수 a= 5

In [12]:
func3()
func4()
func3()

[func1] 지역 변수 a = 5
[func4] 전역 변수 a = 4
[func1] 지역 변수 a = 4

In [13]:
c = 1

def add():
    global c
    c = c + 2
    print(c)
add()                  # UnboundlocalError -> 지역 변수 전역 변수 문제!

3

## 가변인수 예제
- 학생의 점수를 입력받아 평균 점수를 계산하는 함수
  + 문제점 : 각 학생들마다 시험 본 과목수가 다 다름
    - A : 3과목, B : 2과목, C : 5과목

In [14]:
def calculate_average(name, *scores):
    if scores:  # 가변 인수가 비어있지 않은지 확인
        average_score = sum(scores) / len(scores)
        print(f"{name}의 평균 점수는 {average_score:.2f}점입니다.")
    else:
        print(f"{name}의 점수를 입력하지 않았습니다.")

In [15]:
calculate_average("Evan", 85, 70, 75)

Evan의 평균 점수는 76.67점입니다.

In [16]:
calculate_average("Wonny", 90, 80)

Wonny의 평균 점수는 85.00점입니다.

In [17]:
calculate_average("Elie")

Elie의 점수를 입력하지 않았습니다.

In [ ]:
def calculate_average(name, scores):
    if len(scores) > 0:  #리스트 형식
        average_score = sum(scores) / len(scores)
        print(f"{name}의 평균 점수는 {average_score:.2f}점입니다.")
    else:
        print(f"{name}의 점수를 입력하지 않았습니다.")

## 키워드 인수 확인 예제
- 학생의 이름, 과목별, 점수, 그리고 학년을 받아 학생의 성적을 출력하는 함수 
    + 고정 인수 : 학생의 이름
    + 가변 인수 : 여러 개의 과목 점수
    + 키워드 인수 : 학년 정보

In [18]:
def student_report(name, *scores, **details):  # 가변인수는 튜플, 키워드인수는 딕셔너리 
    print(f"학생 이름: {name}")

    # 점수가 입력된 경우에만 평균을 계산
    if scores:
        average_score = sum(scores) / len(scores)
        print(f"평균 점수: {average_score:.2f}")
    else:
        print("점수를 입력하지 않았습니다.")

    # 키워드 인수로 전달된 추가 정보를 출력
    for key, value in details.items():
        print(f"{key}: {value}")

# 함수 호출 예제
student_report("Alice", 88, 92, 85, grade="2학년", school="Seoul High School")
print("\n")
student_report("Bob", 75, 80, 78, 90, grade="3학년", school="Busan High School", hobby="축구")
print("\n")
student_report("Charlie", grade="1학년")

학생 이름: Alice
평균 점수: 88.33
grade: 2학년
school: Seoul High School


학생 이름: Bob
평균 점수: 80.75
grade: 3학년
school: Busan High School
hobby: 축구


학생 이름: Charlie
점수를 입력하지 않았습니다.
grade: 1학년

# 람다(lanbda) 함수

In [20]:
(lambda x : x ** 2)(3)

9

In [21]:
mySquare = lambda x : x ** 2
mySquare(5)

25

In [22]:
sampleFunc = lambda x, y, z : x ** 2 + 3 * y + z
sampleFunc(1,2,3)

10

# Context Manager, Decorator
- 클로저 Closure
    + 함수 안에 또 다른 함수 생성

In [ ]:
import time

# 코드가 돌아가는 시간을 체크하는 함수
def time_decorator(func):
    def wrapper(*args, **kwargs):
        start_time = time.time()
        result = func(*args, **kwargs)
        end_time = time.time()
        print(f"Function '{func.__name__}' executed in {end_time - start_time:.4f} seconds")
        return result
    return wrapper

@time_decorator  # 호출, 함수의 성능 측정할 때 사용 
def slow_function():
    time.sleep(2)
    return "Finished"

# 사용 예시
slow_function()

#전체코드는 데코레이터

# 클래스 왕기초

In [31]:
class 책:
    title = None     #속성(state)
    author = None
    pages = 0
    price = 0
    discount = 0

# 인스턴스 생성
책01호 = 책()
책01호.title = "Streamlit"
책01호.author = "Evan"
책01호.pages = 500
책01호.price = 40000
책01호.discount = 10

print(책01호.title)

Streamlit

In [33]:
class 책:
    title = None     #속성(state)
    author = None
    pages = 0
    price = 0
    discount = 0

    def 읽는시간(self, reading_speed = 30):
        return round(self.pages / reading_speed, 1)     #클래스 내부에서 함수를 쓸 때는 self를 꼭 써야함.

In [37]:
# 인스턴스 생성
책01호 = 책()
책01호.title = "Streamlit"
책01호.author = "Evan"
책01호.pages = 500
책01호.price = 40000
책01호.discount = 10

print(책01호.title, 책01호.author)
출력값 = 책01호.읽는시간(reading_speed = 5)
print(출력값)

Streamlit Evan
100.0

In [35]:
# 인스턴스 생성
책01호 = 책()
책01호.title = "Streamlit"
책01호.author = "Evan"
책01호.pages = 560
책01호.price = 40000
책01호.discount = 10

print(책01호.title, 책01호.author)
출력값 = 책01호.읽는시간()
print(출력값)

Streamlit Evan
18.7

## 코드 업데이트

In [38]:
class 책():
    # initialize : 초기화
    def __init__(self, title, author, pages, price, discount_rate=0):
        self.title = title #책의 제목
        self.author = author
        self.pages = pages
        self.price = price
        self.discount_rate = 0

In [41]:
책01호 = 책("샘플", "Evan", 300, 20000, 0.1)
책01호.title

'샘플'

In [42]:
책01호 = 책("샘플", "Evan", 300, 20000, 0.1)
책02호 = 책("샘플2", "Evan", 400, 20000, 0.1)
책03호 = 책("샘플3", "Evan", 500, 20000, 0.1)
책01호.title, 책02호.title

('샘플', '샘플2')

In [45]:
class 책():
    # initialize : 초기화
    def __init__(self, title, author, pages, price, discount_rate=0):
        self.title = title #책의 제목
        self.author = author
        self.pages = pages
        self.price = price
        self.discount_rate = discount_rate

    def reading_time(self, reading_speed = 30):
        return round(self.pages / reading_speed, 1)

    def apply_discount(self):
        return self.price * (1 - self.discount_rate)

In [46]:
책01호 = 책("샘플", "Evan", 300, 20000, 0.1)
책01호.reading_time()

10.0

In [47]:
책01호 = 책("샘플", "Evan", 300, 20000, 0.1)
책01호.apply_discount()

18000.0

In [48]:
class 책2():

    def __init__(self, title, author=None, pages=None, price=None, discount_rate=0):
        self.title = title #책의 제목
        self.author = author
        self.pages = pages
        self.price = price
        self.discount_rate = discount_rate

    def reading_time(self, reading_speed = 30):
        return round(self.pages / reading_speed, 1)

    def apply_discount(self):
        return self.price * (1 - self.discount_rate)