## 논리연산
- True, False

In [1]:
print(True)

True

In [2]:
print(False)

False

In [3]:
type(True)

bool

In [4]:
print(True and True)
print(False and True)
print(False and True)

True
False
False

In [5]:
print(True or True)
print(False or True)
print(False or True)

True
True
True

In [6]:
5 == 3

False

# 입력과 출력
- 입력 : input()

In [7]:
X = input("임의의 값을 입력하세요")
print(X)

임의의 값을 입력하세요 10

10

In [14]:
x=1
y=1

print(x+y)

2

In [11]:
x = input("임의의 숫자를 입력하세요")
y = input("임의의 숫자를 입력하세요") 

print(type(x), type(y))
print(x+y)

임의의 숫자를 입력하세요 1
임의의 숫자를 입력하세요 1

<class 'str'> <class 'str'>
11

## 데이터 형 변환
- 문자를 숫자로, 숫자를 문자로, A 자료형에서 D 자료형으로
- 대부분이 클래스 or 함수 활용 형변환

In [12]:
x = int(input("임의의 숫자를 입력하세요"))
y = int(input("임의의 숫자를 입력하세요")) 

print(type(x), type(y))
print(x+y)

임의의 숫자를 입력하세요 1
임의의 숫자를 입력하세요 1

<class 'int'> <class 'int'>
2

In [13]:
x = float(input("임의의 숫자를 입력하세요"))
y = float(input("임의의 숫자를 입력하세요")) 

print(type(x), type(y))
print(x+y)

임의의 숫자를 입력하세요 1
임의의 숫자를 입력하세요 1

<class 'float'> <class 'float'>
2.0

# Q&A

In [15]:
# 문자열
a='3.3'
float(a)

3.3

In [16]:
# 문자열
a='3.3'
int(a)

ValueError: invalid literal for int() with base 10: '3.3'

In [17]:
a='3.3'
int(float(a))

3

# String

In [20]:
a = "abc"
b = 'def'
c = "kgf"

result = a + b + c
print(result)

abcdefkgf

In [21]:
result * 3

'abcdefkgfabcdefkgfabcdefkgf'

In [22]:
a = """
asd
fds
grw
sdf
"""

print(a)

asd
fds
grw
sdf

## 문자열 포맷팅
- f-string 포맷팅 문자열 만들기

In [23]:
x = 1
a = f'안녕하세요, 저는 숫자 {x} 입니다.'
print(type(a), a)

<class 'str'> 안녕하세요, 저는 숫자 1 입니다.

## 인덱싱
- 인덱싱은 0부터 시작

In [29]:
a = "안녕하세요, 저는 파이썬 수강생 알파코입니다"
print(len(a)-1)

23

In [30]:
a[len(a)-1] -> 맨 끝 글자 가져오기

'다'

In [31]:
a[3]

'세'

## 슬라이싱

In [32]:
a = "안녕하세요, 저는 파이썬 수강생 알파코입니다"
print(a[0:10])

안녕하세요, 저는

In [33]:
a = '0123456789'
print(a[0:8])

01234567

In [34]:
a = '0123456789'
print(a[0:8:2])

0246

In [37]:
a = '0123456789'
print(a[6:])
print(a[:6])

6789
012345

## 문자열 수정

In [ ]:
a = "Aython"

# 미션 A를 P로 변경하고 싶음

In [43]:
a = "Aython"

'P' + a[1:]

'Python'

In [47]:
a = "Aython"

result = a.replace("A", "P")
print(result)

Python

## 문자열 매서드
- 클래스와 클래스 메서드에 대한 이해

In [48]:
a = "Aython"

result = a.Replace("A", "P")
print(result)

AttributeError: 'str' object has no attribute 'Replace'

In [53]:
b = "Aython"

# b를 활용해서 무언가 하고싶음 ==> 메서드가 있을 것 같은데~~

In [ ]:
b = "python"

string object b = "python" 
==> 대문자로 바꾸고 싶음 
==> ChatGPT 답변 후, 실제로 있는지 공식 문서 체크

In [55]:
sampleText = "hello, streamlit"
sampleText = sampleText.upper()
sampleText

'HELLO, STREAMLIT'

In [56]:
sampleText.lower()

'hello, streamlit'

In [57]:
sampleText = "hello, streamlit"
sampleText.capitalize()

'Hello, streamlit'

In [58]:
sampleText = "hello, streamlit"
sampleText.title()

'Hello, Streamlit'

In [61]:
sampleText = "hello, streamlit"
words = sampleText.split(sep=",")
words

['hello', ' streamlit']

In [62]:
sampleText = "hello, streamlit"
words = sampleText.split() ==> 공백 기준 (기본값)
words

['hello,', 'streamlit']

In [63]:
sampleText = "hello, stream,lit"
words = sampleText.split(sep=",")
type(words)

list

## 시퀀스 자료형 확인
- 인덱싱과 슬라이싱이 가능함
- 반복문 사용할 때 기초자료형으로 활용

In [64]:
from collections.abc import Sequence

my_num = 100
my_list = [1, 2, 3]
my_string = "hello"

is_num = isinstance(my_num, Sequence)
is_list = isinstance(my_list, Sequence)
is_string = isinstance(my_string, Sequence)

print(is_num)
print(is_list)
print(is_string)

False
True
True

## List 리스트

In [66]:
a = [0,1,2,3,4,5,6,7,8]
print(a[1])
print(a[0:8])

1
[0, 1, 2, 3, 4, 5, 6, 7]

In [70]:
a = [0,1,2,["Python", "Hello"],3,4,5]
a[3][1][1]

'e'

In [71]:
a = ["iM", "뱅크"]
a.append("아카데미")
a ==> 이미 저장된 상태

['iM', '뱅크', '아카데미']

In [73]:
a = ["iM", "뱅크"]
result = a.append("아카데미")
print(result)

None

In [74]:
a = [100, 200]
a.append([300, 400])
a

[100, 200, [300, 400]]

In [75]:
a = [100, 200]
a.extend([300, 400])
a

[100, 200, 300, 400]

## 리스트 값 변경 및 삭제

In [76]:
numbers = [302, 401, 418, 430, 529]
numbers[0] = 1302
numbers

[1302, 401, 418, 430, 529]

In [79]:
# 튜플 ==> 요소의 변경이 불가능함
numbers = (302, 401, 418, 430, 529)
numbers[0] = 1302
numbers

TypeError: 'tuple' object does not support item assignment

In [82]:
# 리스트 삭제
numbers = [302, 401, 418, 430, 529]

# 401을 제거한다.
numbers.remove(401)
numbers

[302, 418, 430, 529]

In [84]:
# 리스트 삭제
numbers = [302, 401, 418, 430, 529]

# 401을 제거한다.(2)
del numbers[1]
numbers

[302, 418, 430, 529]

In [85]:
numbers = (302, 401, 418, 430, 529)
del numbers[1]

TypeError: 'tuple' object doesn't support item deletion

## 딕셔리리

In [ ]:
my_dic = {
    'key1' : 'value',
    'key2' : '모든 기초 자료형'
}

In [86]:
my_dic = {
    "name" : "evan",
    "age" : 20,
    "job" : "학생",
    "쇼핑목록" : [1,2,3,4],
    "그외" : (1,2,3),
    "그외2" : {"key" : "value"}
}

my_dic

{'name': 'evan',
 'age': 20,
 'job': '학생',
 '쇼핑목록': [1, 2, 3, 4],
 '그외': (1, 2, 3),
 '그외2': {'key': 'value'}}

In [87]:
my_dic["name"]

'evan'

In [88]:
my_dic = {
    "name" : "evan", 
    "age" : 20, 
    "job" : "강사", 
    "쇼핑목록" : [0, 1, 2, ["Python", "Hello"], 3, 4, 5], 
    "그외" : (1, 2, 3), 
    "그외2" : {"key" : "value"}
}

my_dic

{'name': 'evan',
 'age': 20,
 'job': '강사',
 '쇼핑목록': [0, 1, 2, ['Python', 'Hello'], 3, 4, 5],
 '그외': (1, 2, 3),
 '그외2': {'key': 'value'}}

In [91]:
my_dic["쇼핑목록"][3][1][4]

'o'

In [94]:
my_dic["쇼핑목록"][3][1][-1]

'o'

In [96]:
my_dic['기타'] = "아무거나"
my_dic

{'name': 'evan',
 'age': 20,
 'job': '강사',
 '쇼핑목록': [0, 1, 2, ['Python', 'Hello'], 3, 4, 5],
 '그외': (1, 2, 3),
 '그외2': {'key': 'value'},
 '기타': '아무거나'}

In [97]:
my_dic["쇼핑목록"] = ["맥북", "아이패드"]
my_dic

{'name': 'evan',
 'age': 20,
 'job': '강사',
 '쇼핑목록': ['맥북', '아이패드'],
 '그외': (1, 2, 3),
 '그외2': {'key': 'value'},
 '기타': '아무거나'}

In [102]:
my_dic.keys() ==> 리스트가 아님

dict_keys(['name', 'age', 'job', '쇼핑목록', '그외', '그외2', '기타'])

In [101]:
list(my_dic.keys())

['name', 'age', 'job', '쇼핑목록', '그외', '그외2', '기타']

In [99]:
my_dic.values()

dict_values(['evan', 20, '강사', ['맥북', '아이패드'], (1, 2, 3), {'key': 'value'}, '아무거나'])

In [100]:
my_dic.items()

dict_items([('name', 'evan'), ('age', 20), ('job', '강사'), ('쇼핑목록', ['맥북', '아이패드']), ('그외', (1, 2, 3)), ('그외2', {'key': 'value'}), ('기타', '아무거나')])